<div class="ls-box ls-box-gray ls-ico-bg " >

<?php echo $this->Form->create('Usuario',array( 'inputDefaults' => array( 'label' => false ))) ?>
 <form role="form" class="ls-form ls-login-form" action="#">
<fieldset>

CPF:
<?php echo $this->Form->input('cpf', array(	'data-mask'  =>	"999.999.999-99", 'placeholder' => 'Somente numeros')) ?>
<br>

	

Senha:
<?php echo $this->Form->input('senha',array( 'type' => 'password','placeholder' => '********')) ?>
<br>

<button class="ls-btn">Acessar</button>
</fieldset>
</form>
<?php echo $this->Form->end(); ?>


</div>